/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn{
  background-color: #93c47d;
  border: 3px solid black;
  box-shadow: 3px 3px black;
  width: 150px;
  height: 28px;
}

.navbar{
    
}