*{
    margin: 0 auto;
    padding:0;
}

section{
    display: flex;

}

nav{
    background: linear-gradient( rgb(230, 230, 173), #e9808a);
    padding: 15px;
    color: white;
}

main {
    width: 1000px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
}

main h2{
    margin: 1% auto;
    width: fit-content;
}
h3 {
    margin-left: 0;
}

.column-1, .column-2 .row{
    border: 3px solid black;
    margin: 15px;
}

.column-1{
    flex:2;
    height: min-content;

}

.column-1 img {
    border-radius: 50px;
    height: 110px;
    width: 100px;
    margin: 3% 1% 3% 35%;
}

.column-1 p{
    text-align: center;
    color: lightseagreen;
    text-decoration:underline ;
}

.column-2{
    flex:3;
    
}

.column-2 p{
    margin-right: 3px;
}

.column-2 span{
    margin-left: 0px;
}

.head-col{
    display: flex;
    width: 100%;
    margin: 10px;
    align-items: baseline;
}